body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#navbar {
    width: 250px;
    background-color: rgb(56, 56, 56);
    color: rgb(217,217,217);
    height: 100%;
    float: left;
    position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
}

#navbar a {
    clear: both;
    display: block;
    padding: 0.5em;
    font-size: 1em;
    margin: 0.5em;
    text-decoration: none;
    color: rgb(217,217,217);
    border: 1px solid transparent;
    height: 2.5em;
    line-height: 1em;
}

#navbar a:hover, #navbar #selected {
    background-color: rgb(102,102,102);
    border: 1px solid black;
    border-radius: 3px;
}

#navbar p {
    margin: 0;
    padding: 0.5em;
}

#inlinespan {
    display: inline-block;
    position: relative;
        bottom: 0;
}

#navbar img {
    height: 1.5em;
    width: 1.5em;
    margin: 0;
    margin-right: 0.5em;
}

#navbar i {
    font-size: 1.5em;
    height: 1.5em;
    width: 1.5em;
    margin: 0;
    margin-right: 0.0em;
}

#navbar #logo {
    max-height: 4em;
    max-width: 7em;
    height: auto;
    width: auto;
    margin: 1em;
    margin-right: 0.5em;
    float: left;
}

.pic {
    max-width: 50em;
    max-height: 50em;
    height: auto;
    width: auto;
}

#navbar p.category {
	padding: 0 0 0 0.5em;
}

#main {
    margin-left: 270px;
}

#main h1 {
    font-weight: lighter;
}

fieldset {
    width: 30%;
    box-sizing: border-box;
    float: left;
}

#button {
    margin-top: 8px;
}

@media only screen and (max-width: 1024px) {
    #navbar {
        width: 58px;
    }
    #main {
        margin-left: 78px;
    }
    #inlinespan {
        display: none;
    }
    #navbar a:hover #inlinespan {
            display: inline-block;
            padding: 0.3em;
            border: 1px solid black;
            border-radius: 3px;
            background-color: rgb(56, 56, 56);
            position: relative;
                bottom: 35px;
                left: 45px;
    }
    #navbar a:hover #inlinespan:before {
        content: "";
        position: absolute;
        right: 100%;
        top: 17px;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-right: 5px solid rgb(56, 56, 56);
        border-bottom: 5px solid transparent;
    }

    #navbar #logo {
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: 0px;
        float: none;
        text-align: center;
        width: 100%;
        height: auto;
        max-height: 58px;
        max-width: 58px;
    }

    #navbar p {
        visibility: hidden;
        max-width: 0em;
        max-height: 0em;
    }
}