body
{
    background-color: white;
}

/* #chart {
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 100px;
}

#focus {
        position: fixed;
        left: 0px;
        right: 0px;
        bottom: 0px;
} */

#chart {
        height: 60vh;
        max-height: 60vh;
        
}

#focus {
        height: 10vh;
        max-height: 10vh;
}

#graph{
        height: 80vh;
        max-height: 80vh;
}

.alert{
        float: right;
        z-index: 20;
        margin-top: 1vh;
        max-width: 60vh;
        max-height: 40vh;
}

#settings table{
        width: 100%;
        table-layout: fixed;
}

#settings>table>tr{
        padding-bottom: 5vh;
}

#settings .date{
        max-width: 30vh;
}

#igLive{
        max-width: 30vh;
}

.mainSensors{
        overflow: hidden;
}

.sensorTable{
        margin-right: 3vh;
}