body
{
    background-color: white;
}

/* #chart {
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 100px;
}

#focus {
        position: fixed;
        left: 0px;
        right: 0px;
        bottom: 0px;
} */

#chart {
        height: 60vh;
        max-height: 60vh;
        
}

#focus {
        height: 10vh;
        max-height: 10vh;
}

#graph{
        height: 80vh;
        max-height: 80vh;
}
